
/*BORDER
#556B2F;*/

.content{
    background-color: #e5e5e5e1;
}

.navbar-nav{
     gap: 2.5vh;
     font-size: larger;
}

.policies .card{
background-color: #E5e5e5;
border: 2px solid #556b2f;
}

.container-fluid{
background-color: #e5e5e5e1;
}

.policies {
       padding: 30px;
       padding-top: 40px;   
}

.slider .container .carousel-inner .carousel-caption{
color: aliceblue;
}

.services .container a{
text-decoration: none;
color: black;
}

.services .container .row .p-3{
  border: 2px solid #556b2f;  
}

h2{
padding-top: 25px; 
padding-bottom: 10px;
}

.footer .row a{
text-decoration: none;
color: black;

}

.footer{
    padding-top: 95px;
    padding-left: 67px;
   /* height: 300px;*/
    background-color: rgb(165, 166, 165);
}

img[src*="images"] {
border: 2px solid #556b2f;;
}

.row .col .card{
    border: 2px solid #556b2f;
}

 .border-carousel{
    border: 4px solid  black;
    width: 980px;
    height: 60vh;
 }

 .carousel-item img{
    height: 50vh;
 }
 
 .card img{
    border: none;
 }
